# Ignore build files (binaries, artifacts, pdbs, etc.)
[Bb]uild/

# Ignore generated premake files (Visual Studio .sln, .vcxproj, etc.)
Generated/

# IDE-specific files
.vscode/
.vs/
.vcxproj
.vcxproj.filters

# Temp backup files
*.bak
