# Ignore build files (binaries, artifacts, pdbs, etc.)
Build/

# Ignore generated premake files (Visual Studio .sln, .vcxproj, etc.)
Generated/

# IDE-specific files
.vscode/
.vs/
.vcxproj
.vcxproj.filters
